	*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
	 body{
	   text-align:center;
	    background-color:powderblue;
	    background-image:url("http://www.destination360.com/north-america/us/nevada/las-vegas/images/las-vegas-night.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	   }
	
