	*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
	 body{
        background-color:powderblue;
		margin:0;
		padding:0;
	   }
	   
	   .container{
		   max-width:100vw;
		   height:100vh;
		   margin:0 auto;
		   padding:20px;
		   text-align:center;
	       background-color:#008b8b;
	       background-image:url("http://static3.businessinsider.com/image/530ec5056da8110616569ec7-2400");
		   background-repeat:no-repeat;
		   background-size:cover;
		   background-position:center center;
	   }
	   
	   .num{
		   max-width:150px;
		   height:150px;
		   overflow:auto;
		   border:2px solid #fff;
		   color:#fff;
		   font-size:45px;
		   border-radius:5px;
		   background-color:rgba(151, 97, 255,0.5);
		   margin:10px auto;
		   padding:50px 0;
		   font-weight:bold;
	   }
	   
	   .btn{
		   padding:10px 45px;
		   border:none;
		   border-radius:5px;
		   font-size:25px;
		   color:#ff00ff;
		   
	   }
	   
	   .btn:hover{
		   color:#fff;
		   background-color:transparent;
		   border:2px solid #fff;
		   
	   }
	   
	   .btn:active{
		   transform: translateY(4px);
	   }
	   
	   @media screen and (min-width:480px){
		   
		   body{
			   margin:0;
			   padding:0;
		   }
		   .container{
			   display:grid;
			   grid-template-columns:repeat(3,1fr);
			   align-content:center;
			   justify-content: space-around;
		   }
		   
		   .num{
			   margin:0;
			   padding:50px;
		   }
		   
		   .btn{
			   width:150px;
			   height:150px;
			   padding:0 8px 0 0;
		   }
		   
		  body{
			  background-color:gray;
		  } 
	   }
	   
	   @media screen and (min-width:790px){
		    body{
			  background-color:red;
		  }  
	   }
	
